$darkblue: #002b49
$goldenyellow: #FED141
$maroon: #6f2c3f
$darkgrey: #6e6259
$lightgrey: #D7D7D7

/* *
     outline: red solid 1px */
a
    color: $goldenyellow
a:hover
    color: darken($goldenyellow, 15%)
.body
    background: rgba($lightgrey, .5)
.navbar
    background: lighten($darkblue, 10%)
    height: 4rem
.navbar-collapse
    background: lighten($darkblue, 10%)
    padding: 0rem 1rem 1rem 1rem
.logo
    height: 3.5rem
.nav-link
    color: white
.nav-link:hover
    color: $goldenyellow
.hero
    background: linear-gradient(rgba(255, 255, 255, 0.9),rgba(0, 0, 0, 0.7)),url("../photos/hero-pattern.jpg")
    background-repeat: no-repeat
    background-size: cover
    height: 100vh
    width: 100%
    opacity: 1
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    .hero-content
        color: white
    h1
        font-size: 5rem
        text-shadow: 4px 4px 2px rgba(150, 150, 150, 1)
    h2
        font-size: 3rem
        text-shadow: 4px 4px 2px rgba(150, 150, 150, 1)
.skills
    justify-content: center
    .background
        background: linear-gradient(rgba(255, 255, 255, 0.80),rgba(0, 0, 0, 0.80)),url("../photos/skills-image.jpeg")
        background-repeat: no-repeat
        background-size: cover
.about
    display: flex
    align-items: center
.history
    background: linear-gradient(rgba(255, 255, 255, 0.80),rgba(0, 0, 0, 0.80)),url("../photos/new-york-2.jpeg")
    background-repeat: no-repeat
    background-size: cover
.card
    background: white
    padding: 30px
    box-shadow: 1px 1px 2px #e7e7e7
    border-radius: 4px
    margin: 20px 20px
    color: black
.footer
    border-top: 1rem solid $goldenyellow
    background: lighten($darkblue, 5%)
    color: white
    .nav-item
        display: inline-block
    ul
        padding-left: 0px
    p
        margin-top: .5rem
    a
        color: $goldenyellow
    a:hover
        color: white
.maroon
    color: $maroon
.icons
    max-height: 8rem
    max-width: 10rem
    padding: .5rem
.btn
    display: flex
    align-self: center
    a
        color: white
.btn:hover
    background-color: $goldenyellow
    a
        color: $maroon
.fab
    margin-right: .2rem
    margin-left: .2rem

.icon
    background-image: url(../photos/bars.svg)
    color: white
    
.content-center
    text-align: center
h3
    text-transform: uppercase
    color: $maroon
    padding: 2rem
    text-shadow: .5px .5px white
