/* *
     outline: red solid 1px */
.body {
  background: rgba(215, 215, 215, 0.5);
}

.nav-bar {
  background: #003a63;
  color: #FED141;
  vertical-align: center;
}

.hero {
  background-image: url("../photos/hero-image.jpeg");
  background-color: black;
  opacity: .6;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100%;
  color: #FED141;
}

.skills {
  background: #D7D7D7;
  justify-content: center;
}

.about {
  background: rgba(215, 215, 215, 0.5);
}

.history {
  background: #D7D7D7;
}

.education {
  background: white;
  padding: 30px;
  box-shadow: 1px 1px 2px #e7e7e7;
  border-radius: 4px;
  margin: 20px 50px;
}

.footer {
  border-top: 1rem solid #FED141;
  background: #003a63;
  color: white;
}

.maroon {
  color: #6f2c3f;
}

.icons {
  max-height: 8rem;
  max-width: 13rem;
}

.btn {
  background-color: #FED141;
  color: #002b49;
}

.content-center {
  text-align: center;
}

h3 {
  text-transform: uppercase;
  color: #6f2c3f;
}
