/* *
     outline: red solid 1px */
a {
  color: #FED141;
}

a:hover {
  color: #f1b801;
}

.body {
  background: rgba(215, 215, 215, 0.5);
}

.navbar {
  background: #00497c;
  height: 4rem;
  display: inline-flex;
  justify-items: center;
}

.navbar-collapse {
  background: #00497c;
  padding: 0rem 1rem 1rem 1rem;
  align-items: center;
}

.logo {
  height: 3.5rem;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #FED141;
}

.hero {
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0.7)), url("../photos/hero-pattern.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero .hero-content {
  color: white;
}

.hero h1 {
  font-size: 5rem;
  text-shadow: 4px 4px 2px #969696;
}

.hero h2 {
  font-size: 3rem;
  text-shadow: 4px 4px 2px #969696;
}

.skills {
  justify-content: center;
}

.skills .background {
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.8)), url("../photos/skills-image.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.about {
  display: flex;
  align-items: center;
}

.history {
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.8)), url("../photos/new-york-2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.education {
  display: flex;
  justify-content: space-around;
}

.education col-sm-12 {
  display: flex;
  justify-items: center;
}

.education .card {
  min-width: 290px;
}

.card {
  background: #00497c;
  padding: 30px;
  box-shadow: 1px 1px 2px #e7e7e7;
  border-radius: 4px;
  margin: 20px 20px;
  color: white;
  display: inline-flex;
  align-items: center;
}

.card img {
  width: 100%;
}

.card a {
  margin-bottom: .5rem;
}

.footer {
  border-top: 1rem solid #FED141;
  background: #00497c;
  color: white;
  margin-bottom: 1rem;
}

.footer .nav-item {
  display: inline-block;
  border-left: 2px solid #FED141;
}

.footer ul {
  padding-left: 0px;
}

.footer p {
  margin-top: .5rem;
}

.footer a {
  color: white;
}

.footer a:hover {
  color: #FED141;
}

.maroon {
  color: #6f2c3f;
}

.icons {
  max-height: 6.5rem;
  width: 8rem;
  padding: .5rem;
}

.btn, .btn-sm {
  display: flex;
  align-self: center;
}

.btn a, .btn-sm a {
  color: white;
}

.btn:hover, .btn-sm:hover {
  background-color: #FED141;
}

.btn:hover a, .btn-sm:hover a {
  color: #6f2c3f;
}

.fab {
  margin-right: .2rem;
  margin-left: .2rem;
}

.icon {
  background-image: url(../photos/bars.svg);
  color: white;
}

.content-center {
  text-align: center;
}

h3 {
  text-transform: uppercase;
  color: #6f2c3f;
  padding: 2rem 0 1rem 0;
  text-shadow: .5px .5px white;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.accordion:after {
  content: '\02795';
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
}

.active {
  background-color: #ccc;
}

.accordion:hover {
  background-color: #ccc;
}

.panel {
  margin: 1rem 0;
  padding: 0 18px;
  display: flex;
  justify-content: left;
  text-align: left;
  color: white;
  background-color: linear-gradient(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.8));
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
